<div class="container">
    <div id="carousel" class="carousel">
        <div class="carousel-prev" (click)="prev()"></div>
        <div class="carousel-next" (click)="next()"></div>
        <ul class="carousel-pagination">
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
        </ul>
        <ul class="carousel-container">
            <li class="carousel-item">
                <div id="content" class="content">
                    <div class="photo"></div>
                    <span class="position">
                        Larissa Marques - Data Scientist
                    </span>
                    <span class="position">
                        Ex-presidente
                    </span>
                    <span class="comentary">
                        "Acho o dasi show de boleta pq os cara é brabo faz as correria td e eu aprendi pra caraio pq o baguio lá é mt nervoso aff meu td de bom sério entrem no dasi pq o baguio é mt honesto show de bola"
                    </span>
                </div>
            </li>
            <!-- <li class="carousel-item">
                <div id="content" class="content">
                    <div class="photo"></div>
                    <span class="position">
                        Data Scientist
                    </span>
                    <span class="comentary">
                        "Acho o dasi show de boleta pq os cara é brabo faz as correria td e eu aprendi pra caraio pq o baguio lá é mt nervoso aff meu td de bom sério entrem no dasi pq o baguio é mt honesto show de bola"
                    </span>
                </div>
            </li>
            <li class="carousel-item">
                <div id="content" class="content">
                    <div class="photo"></div>
                    <span class="position">
                        Data Scientist
                    </span>
                    <span class="comentary">
                        "Acho o dasi show de boleta pq os cara é brabo faz as correria td e eu aprendi pra caraio pq o baguio lá é mt nervoso aff meu td de bom sério entrem no dasi pq o baguio é mt honesto show de bola"
                    </span>
                </div>
            </li>
            <li class="carousel-item">
                <div id="content" class="content">
                    <div class="photo"></div>
                    <span class="position">
                        Data Scientist
                    </span>
                    <span class="comentary">
                        "Acho o dasi show de boleta pq os cara é brabo faz as correria td e eu aprendi pra caraio pq o baguio lá é mt nervoso aff meu td de bom sério entrem no dasi pq o baguio é mt honesto show de bola"
                    </span>
                </div>
            </li> -->
        </ul>
    </div>
</div>