<div class="container">
  <div id="carousel" class="carousel">
    <div class="carousel-prev" (click)="prev()">
      <mat-icon class="icon">keyboard_arrow_left</mat-icon>
    </div>
    <div class="carousel-next" (click)="next()">
      <mat-icon class="icon">keyboard_arrow_right</mat-icon>
    </div>
    <ul class="carousel-pagination">
      <li class="carousel-bullet"></li>
      <li class="carousel-bullet"></li>
      <li class="carousel-bullet"></li>
      <li class="carousel-bullet"></li>
    </ul>
    <ul class="carousel-container">
      <li class="carousel-item">
        <div id="content" class="content">
          <div class="photo st"></div>
          <span class="position"> Larissa Marques - Data scientist </span>
          <span class="position sd"> Ex-presidente </span>
          <span class="comentary"> Em breve </span>
        </div>
      </li>
      <li class="carousel-item">
        <div id="content" class="content">
          <div class="photo nd"></div>
          <span class="position"> Lucas Pipa - Desenvolvedor full-stack </span>
          <span class="position sd"> Ex-vice-presidente </span>
          <span class="comentary">
            "O DASI me proporcionou diversos momentos inexplicáveis durante
            minha graduação. Pude fazer amigos que sei que são pra vida inteira,
            além de conhecer pessoas de diversas outras faculdades e estados,
            além de pessoas super importantes da área, por conta dos eventos que
            o DASI organiza. Com certeza foi uma das melhores decisões da minha
            graduação, e que me ajudou a evoluir muito como pessoa e
            profissional."
          </span>
        </div>
      </li>
      <li class="carousel-item">
        <div id="content" class="content">
          <div class="photo rd"></div>
          <span class="position"> Dayane Saura - Analista de projetos </span>
          <span class="position sd"> Ex-integrante de fundação </span>
          <span class="comentary"> Em breve </span>
        </div>
      </li>
      <li class="carousel-item">
        <div id="content" class="content">
          <div class="photo th"></div>
          <span class="position">
            Alan Utsuni - Desenvolvedor | Doutorando pelo PPG-Oncologia USP
          </span>
          <span class="position sd"> Ex-vice-presidente acadêmico </span>
          <span class="comentary">
            "Não vou entrar, não vou dar conta da faculdade e dessas coisas -
            Foi o que eu disse na roda de conversa com o DASI e que bom que
            mudei de ideia, hoje posso dizer que participar foi a melhor coisa
            que eu poderia ter feito por mim e pela minha graduação."
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
