@import '~@angular/material/theming';
@import '../../../assets/variables';
    
.mat-footer-bottom
    position: relative;
    bottom: 0;
    height: 120px;

.mat-footer-top
    position: relative;
    bottom: 0;
    height: 60px;
    justify-content: center;

.item
    position: relative;
    margin-right: 10vw;
    margin-left: 10vw;

.mat-footer-bottom .item
    margin-right: 5.5vw;
    margin-left: 5.5vw;

.text
    font-weight: 250;
    font-size: 17px;

.brasao
    width: 90px;
    filter: invert(1);