@import '~@angular/material/theming';
    
.mat-footer { position: relative; bottom: 0; height: 120px; background: #3b2766; }

.middle { width: 450px; text-align: center; position: absolute; left: calc(50% - 225px); }

.right { position: absolute; text-align: right; right: 15px; }

.text { font-weight: 250; font-size: 17px; position: relative; }