<div class="footer-container">
    <mat-toolbar
    class="mat-footer-top"
    color="accent">
        <button 
        mat-button
        class="item"
        (click)="openSnackBar()">
            <span class="text">FAQ</span>
        </button>
        <button 
        mat-button
        class="item"
        (click)="openSnackBar()">
            <span class="text">Contato</span>
        </button>
        <button 
        mat-button
        class="item"
        (click)="openSnackBar()">
            <span class="text">Código de conduta</span>
        </button>
    </mat-toolbar>
    <mat-toolbar 
    class="mat-footer-bottom"
    color="primary">
        <img 
        class="item brasao" 
        src="../../../assets/arts/brasao-preto2.png"
        alt="Brasão preto e branco"/>
        <span class="item text" style="text-align: center;">Diretório Acadêmico de Sistemas de Informação - DASI<br/>CNPJ - 12.598.380/0001-97<br/>Copyright © 2020</span>
        <span class="item text" style="text-align: right;">Rua Arlindo Béttio, 1000 - Vila Guaraciaba<br/>São Paulo - SP, 03828-000</span>
    </mat-toolbar>
</div>