<mat-toolbar 
class="mat-header">
    <div id="header-container" class="container">
        <img 
        class="grifo-logo"
        src="https://github.com/dasiusp/assets/blob/master/arts/grifo-logo.png?raw=true"
        alt="Logo grifo universitário">
        <div class="logo-side-title">
            <img
            src="https://github.com/dasiusp/assets/blob/master/arts/letreiro-logo.png?raw=true" 
            class="sign-title"/>
        </div>
        <div class="container-buttons">
            <button 
                mat-button
                class="item"
                (click)="openSnackBar()">
                <span class="text">Setores</span>
            </button>
            <button 
                mat-button
                class="item"
                (click)="openSnackBar()">
                <span class="text">Loja</span>
            </button>
            <button 
                mat-button
                class="item"
                (click)="openSnackBar()">
                <span class="text">Login</span>
            </button>
        </div>
        <button class="menu-button" mat-button (click)="emitToggleSidebar()"><mat-icon class="menu-icon">menu</mat-icon></button>
    </div>
</mat-toolbar>