@import '~@angular/material/theming';
    
.mat-header
    position: fixed;
    height: 84px;
    @include mat-elevation(2);
    top: 0;
    left: 0;
    z-index: 11;

.container
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

.grifo-logo
    width: 134px;
    height: 134px;
    object-fit: cover;
    object-position: 20% 0px;
    position: relative;
    top: 40px;
    left: 25px;
    border-radius: 70px;
    border: 3px solid whitesmoke;
    background: whitesmoke;
    box-shadow: 0px 7px 2px -4px rgba(0, 0, 0, 0.2), 0px 4px 4px -2px rgba(0, 0, 0, 0.14), 0px 6px 8px 0px rgba(0, 0, 0, 0.12)

.logo-side-title
    position: relative;
    align-self: center;
    left: 35px; 

.title
    font-size: 1.6rem;

.item
    font-size: 20px;
    margin: 0 30px;
    height: 60px;

.menu-button
    width: 5rem;
    height: 4rem;
    justify-items: center;
    visibility: hidden;
    display: none;

.container-buttons
    position: relative;
    align-self: center;
    right: -35vw;

.menu-icon
    font-size: 3rem;
    width: 100%;
    height: 100%;

@media screen and ( max-width: 700px )
    .mat-header
        justify-content: center;

    .grifo-logo
        width: 100px;
        height: 100px;

    .mat-header .grifo-logo
        visibility: hidden;
        display: none;

    .title
        left: 0 !important;

    .menu-button
        position: absolute;
        top: 10px;
        right: 0;
        visibility: visible;
        display: flex;

@media screen and ( max-width: 1090px )
    .container-buttons
        right: -30vw;

    .item
        margin: 0 10px;

@media screen and ( max-width: 820px )
    .container-buttons
        right: -20vw;

    .item
        margin: 0 5px;

@media screen and ( max-width: 700px )
    .container-buttons
        display: none;
        visibility: hidden;