<div class="container">
  <ul>
    <li *ngFor="let year of getYears()">
      <div class="sub-header">
      </div>
      <span class="title">{{year}}</span>
      <ul>
        <li *ngFor="let sector of getSectors(year)">
          <div class="sector-sub-header">
          </div>
          <span class="sub-title">{{sector}}</span>
          <ul class="content">
            <li class="text" *ngFor="let member of members[year][sector]">
              {{member['Cargo']}}: {{member['Nome completo']}}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
