<div class="container-body">
    <section class="about">
        <!-- <div class="parallax-wrapper"></div> -->
    </section>
    <section class="events">
        <div appParallax [ratio]="-0.02" class="parallax-wrapper"></div>

    </section>
    <section class="info">
        <!-- <div class="parallax-wrapper"></div> -->

    </section>
    <section class="intercomp">
        <div id="intercomp-parallax-wrapper" appParallax [ratio]="-0.1" class="parallax-wrapper"></div>
        <!-- <div class="parallax-wrapper"></div> -->

    </section>
    <section class="pre-footer">
        <!-- <div class="parallax-wrapper"></div> -->

    </section>
</div>