@import '~@angular/material/theming';
@import '../../../assets/variables';

p
    margin-bottom: 0;

.container-body
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 84px;
    width: 100%;
    overflow-x: hidden;

section
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 20px;

.sub-header
    align-self: flex-end;
    position: relative;
    height: 100px;
    width: 45vw;
    margin-right: -50px;
    background: map-get($md-st-dasi-pallete, 50);
    transform: skewX(25deg);
    border-radius: 3px;

.title
    position: absolute;
    font: 850 3.5rem Roboto;
    letter-spacing: 5px;
    color: black;
    transition: all 0.35s ease-out 0s;

.text
    font: 350 2rem Roboto;
    line-height: 3.5rem;
    color: black;

.content
    display: flex;
    flex-direction: column;

.about .title
    left: 75vw;

.events .sub-header
    align-self: flex-start;
    margin-left: -50px;

.events .title
    left: 70vw;

.wrapper
    align-self: center;
    position: relative;
    padding: 50px 20px;
    height: 400px;
    width: 70vw;

iframe
    width: 100%;
    height: 100%;
    
// .about, .events, .info, .intercomp, .pre-footer
//     position: relative;
//     width: 100%;
//     height: 200vh;
//     z-index: 2;
//     background: white;
//     padding: 25px;
//     flex-wrap: wrap;

// .about
//     height: 285vh;
//     padding: 0;

// .events
//     height: 350vh;

// .intercomp
//     height: 325vh;

// .pre-footer
//     height: 70vh;

// .info
//     display: inline-flex;
//     justify-content: center;

// .events, .intercomp
//     z-index: -1;
    
// .parallax-wrapper
//     position: fixed;
//     top: 0px; 
//     left: 0px;
//     width: 100%;
//     height: 100vh;
//     background-size: cover;
//     z-index: -1;
//     filter: brightness(0.5) grayscale(1);
//     transition: all 0.2s ease-out;

// .events .parallax-wrapper
//     background-image: url("photo5127429363984345089.png");
//     transform: scale(1.2);
//     background-position-y: -5%;

// .intercomp .parallax-wrapper
//     background-image: url("intercomp.jpg");
//     transform: scale(1.3);
//     background-position-y: 70%;

// .about .sub-header, .intercomp .sub-header
//     right: -60vw;
//     top: 35vh;
//     transform: skewX(7.5deg);
//     background: map-get($DASIWeb-primary, 50);

// .events .sub-header
//     left: -3vw;
//     top: 17vh;
//     transform: skewX(-7.5deg);
//     background: map-get($DASIWeb-primary, A100);

// .events .title
//     color: white;
//     top: 22vh;

// .events .content
//     top: 28vh;

// .intercomp .sub-header
//     background: map-get($DASIWeb-primary, A100);
//     top: 17vh;

// .intercomp .content
//     top: 29.5vh;

// .about .title, .intercomp .title
//     margin-top: 17.5vh;

// .intercomp .title
//      color: white;
//      margin-top: 0vh;

.video
    height: 90vh;
    width: 100%;
    position: relative;
    background: black;

// .events .text, .info .text, .intercomp .text
//     color: white;

// .info .text
//     font-size: 1.25rem;
//     line-height: 1.6rem;

// .fade
//     background: white !important;

// .commentaries
//     width: 100%;
//     flex-basis: 100%;
//     padding: 25px;

// .cards
//     position: relative;
//     width: 100%;
//     display: inline-flex;
//     flex-wrap: wrap;
    
// .card
//     position: relative;
//     top: 15vh;
//     width: 20vw;
//     height: 60vh;
//     background: map-get($DASIWeb-accent, 400);
//     @include mat-elevation(2);
//     margin: 5vw;
//     padding: 25px 10px;
//     text-align: center;
//     border-radius: 15px;
//     transition: all 0.35s ease-out 0s;

// .card:hover
//     top: 13.5vh;

// .icon
//     filter: invert(1);

// .test
//     position: absolute;
//     color: blue;
//     font-weight: 800;
//     font-size: 20px;

// .events .test
//     top: 200vh;
//     left: 8vw;

// .info .test
//     top: 160vh;

// .intercomp .test
//     top: 160vh;
//     left: 32vw;

@media screen and ( max-width: 700px )
    .sub-header
        width: 70vw;
    
    .about .title
        left: 15vw;

    .events .title
        left: 170vw;

    .wrapper
        width: 90vw;
        height: 300px;