<mat-sidenav-container class="fade-container" (backdropClick)="closeSidebar()">
    <mat-sidenav class="sidenav" #sidenav (keydown.escape)="closeSidebar()" disableClose>
        <img 
            class="grifo-logo"
            src="../assets/arts/grifo-logo.png"
            alt="Logo grifo universitário">
    </mat-sidenav>
    <mat-sidenav-content (scroll)="myScrollHandler($event)">
        <app-header (toggleSidebar)="sidenav.open()"></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>