<div class="container">
  <div class="sub-header"></div>
  <span class="title">CERTIFICADOS</span>
  <div class="content">
    <p class="text wrapper">
      Aqui você pode realizar a verificação de um certificado emitido pelo DASI!
      É muito fácil: com o código de identificação único do certificado, basta
      digitá-lo no campo abaixo que verificaremos em nossa base se o
      emitimos.
    </p>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="searchCertificate(form.get('certificateId').value)"
    class="certificate-form"
  >
    <mat-form-field class="certificate-id">
      <mat-label>ID do certificado</mat-label>
      <input
        matInput
        type="text"
        [formControl]="form.controls['certificateId']"
      />
      <button
        mat-button
        *ngIf="form.get('certificateId').value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.controls['certificateId'].setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['certificateId'].hasError('required')">
        O id do certificado <strong>é obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <re-captcha
      class="recaptcha"
      (resolved)="resolved($event)"
      [siteKey]="recaptchaKey"
    ></re-captcha>
    <button
      mat-button
      class="submit-button"
      [disabled]="form.invalid"
      type="submit"
      matSuffix
    >
      Verificar certificado
    </button>
  </form>
</div>
<app-loader *ngIf="pageLoading"></app-loader>
<app-modal *ngIf="certificate" (closeModal)="certificate = null">
  <h2 title class="title">
    {{ certificate.error ? "Não encontramos o certificado" : "Certificado
    encontrado!" }}
  </h2>
  <div content class="text-wrapper">
    <ul>
      <div *ngFor="let item of certificate | keyvalue">
        <li
          *ngIf="item.key !== 'token'"
          [ngStyle]="{
            'text-align': item.key !== 'error' ? 'initial' : 'center'
          }"
        >
          {{ item.key !== "error" ? handleKey(item.key) + ": " : null }} {{
          handleValue(item.key, item.value) }}
          <hr *ngIf="!(certificate && certificate.error)" />
        </li>
      </div>
    </ul>
  </div>
</app-modal>
