$md-st-dasi-pallete: (
    50 : #e7e5ed,
    100 : #c4bed1,
    200 : #9d93b3,
    300 : #766894,
    400 : #58477d,
    500 : #3b2766,
    600 : #35235e,
    700 : #2d1d53,
    800 : #261749,
    900 : #190e38,
    A100 : #9373ff,
    A200 : #6b40ff,
    A400 : #440dff,
    A700 : #3700f2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-nd-dasi-pallete: (
    50 : #e7e1ef,
    100 : #c2b3d7,
    200 : #9a80bd,
    300 : #714da2,
    400 : #52278e,
    500 : #34017a,
    600 : #2f0172,
    700 : #270167,
    800 : #21015d,
    900 : #15004a,
    A100 : #947eff,
    A200 : #6a4bff,
    A400 : #4018ff,
    A700 : #2c00fd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn-dasi-pallete: (
    50 : #f9e6e6,
    100 : #f0c1c1,
    200 : #e69797,
    300 : #db6d6d,
    400 : #d44e4e,
    500 : #cc2f2f,
    600 : #c72a2a,
    700 : #c02323,
    800 : #b91d1d,
    900 : #ad1212,
    A100 : #ffdede,
    A200 : #ffabab,
    A400 : #ff7878,
    A700 : #ff5e5e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);